.certificate-metadata-form {
    max-width: 760px;
  
    .separator-label {
      margin: 50px 0 20px;
    }
  
    .bordered {
      max-width: 100%;
    }
  
    .button-wrapper {
      margin-top: 65px;
      display: flex;
      justify-content: center;
      gap: 20px;
    }
  }