  .nda-container {
    .container-content {
      p {
        font-size: 18px;
      }
      & > span {
        margin: 30px 40px;
        display: block;
      }
    }
  
    .container-nav {
      margin-top: 10px;
      text-align: center;
  
      & > small {
        color: #777;
        margin-right: 1rem;
      }
    }
  }