.overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.7);
    z-index: 999;
    .toast-wrapper {
        position: fixed;
        width: 45rem;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(128, 0 , 0, 0.8);
        color: white;
        font-size: 14px;
        padding: 16px 20px;
        border-radius: 10px;
        span {
            word-break: break-word;
        }
    }
}