@tailwind base;
@tailwind components;
@tailwind utilities;

.payment-details .MuiListItemText-primary {
    font-size: 13px;
    color: rgba(0,0,0,0.6);
}

.payment-details .MuiListItemText-secondary {
    font-size: 16px;
    color: #000;
}