@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {}

.text-center {
    text-align: center;
    text-align: -webkit-center;
}

tr.clickable-row {
    cursor: pointer;
    border-right: 4px solid transparent;
}

tr.clickable-row.open,
tr.clickable-row:hover {
    background-color: #e5e5e5;
}

tr.clickable-row.open td:last-child,
tr.clickable-row:hover td:last-child{
    border-right-color: #a3a0fc;
}

tr.pull-down-row,
tr.pull-down-row td {
    padding: 0;
}
